<div id="wrapper">
  <div class="content-area">
    <div class="main">

    <%= form_for @conn, Routes.page_path(@conn, :new), [class: "form-inline"], fn f -> %>
      <div class="row">
        <div class="form-group col-md-9">
          <%= text_input f, :starting_url, placeholder: "Starting URL" %>
        </div>
        <div class="form-group col-md-3">
          <%= submit "Run", id: "submit-su"%>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
