.led {
    margin: 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

body {
    background: #343E59;
    color: #777;
    font-family: Montserrat, Arial, sans-serif;
}

.container h1 {
    width: 100%;
}

.navbar-link {
    font-size: 2em;
    display: inline-block;
    margin: 0 1em 0 0;
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    color: #606c76;
}

button {
    width: 100%;
    background-color: #0d1117 !important;
    border: 0.2rem solid #21262d !important;
    border-radius: 1rem !important;
}

tr,
th {
    border: 0.2rem solid #21262d !important;
}

table {
    color: white !important;
}

.body-bg {
    background: #F3F4FA !important;
}

.box-title {
    font-size: 2em;
    display: inline-block;
    margin: 0 0 1em 0;
    text-decoration: none;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

.content-area {
    max-width: 1280px;
    margin: 0 auto;
}

.box {
    background-color: #161b22;
    padding: 25px 20px;
}

.shadow {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.sparkboxes .box {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px 1px #666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    position: relative;
    border-radius: 5px;
}

.sparkboxes .box .details {
    position: absolute;
    color: #fff;
    transform: scale(0.7) translate(-22px, 20px);
}

.sparkboxes strong {
    position: relative;
    z-index: 3;
    top: -8px;
    color: #fff;
}


/* fusionexport btn CSS START */

#fusionexport-btn {
    min-width: 169px;
    min-height: 38px;
    text-align: center;
}

#fusionexport-btn .span {
    display: inline-block;
}

.spinner-border {
    display: none;
}

#fusionexport-btn[disabled] {
    cursor: wait;
}

#fusionexport-btn[disabled] .spinner-border {
    display: inline-block;
}

#fusionexport-btn[disabled] .btn-text {
    display: none;
}